.incomParent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.INCOME{
  background-color: #C9E1FE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.expenseParent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.EXPENSES{
  background-color: #FEEFD7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}